/* Project CSS 
============================================================
============================================================*/
html { font-size: 62.5%; }
body {
	margin: 0;
	background: #222222;
	font: 1.6em/1.4 sans-serif;
	color: #999999;
	font-weight: 100;
}

header, section, footer {
	box-sizing: border-box;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	
}
header::after, section::after, dl::after, footer::after {
	content: "";
	display: table;
	clear: both;
}
body > section {
	padding: 0 20px;
	background: #262626;
}
section {

}

h1 { 
	margin: 0;
	padding: 50px 0 10px 0;
	font-size: 40px;
	font-weight: 900;
	text-transform: uppercase;
	color: #fafafa;
}
h2 { 
	margin: 0 0 10px 0;
	font-size: 24px;
	font-weight: 900;	
	color: #666666;
	text-transform: uppercase; 
}

h3 { 
	color: #777777;
	margin: 20px 0 0 0;
	font-weight: 600; 
	text-transform: uppercase;
}
h1 + h3 { margin-top: 0; }

p:not(:last-child) { margin: 0 0 15px 0; }
strong { 
	color: #777777;
	font-weight: 500;
}

dl { margin-bottom: 20px; }
dt {
	margin-right: 10px;
	clear: left;
}
dt, dd { 
	float: left;
}

/* HEADER ============================== */
header img {
	max-width: 100%;
}

/* ABOUT ============================== */
#about {
	padding: 50px;
}
#about img {
	display: block;
	max-width: 100%;
	float: left;
	margin-right: 30px;
	background: #444444;	
}

/* COMPONENTS ============================== */
article {
	position: relative;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 30px;
	background: #fafafa;
}
article:nth-of-type(1) { margin-top: 0; }
article.featured { border: solid 10px #fabe0a; }
article.featured::before {
	content: "Featured";
	display: block;
	padding: 0.75rem;
	position: absolute; top: 1.275rem; left: -5.25rem;
	background: #fabe0a;
	color: #ffffff;
	text-transform: uppercase;

    -ms-transform: rotate(-90deg);  
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);	
}

article img	{
	display: block;
	width: 100%;
	min-height: 100px;
	margin-bottom: 30px;
	background: #cccccc;
	border: solid 2px #eaeaea;
}

.buttons li {
	position: relative;
	list-style-type: none;
	display: inline-block;
}
.buttons a {
	display: block;
	padding: 1rem;
	background-color: #cccccc;
	color: #fafafa;
	text-transform: uppercase;
	text-decoration: none;
}
.buttons a[href*=components] {
	background-color: #fabe0a;
}

/* DROP-DOWN ============================== */
.buttons li:hover ul { display: block; }
.buttons li ul {
	display: none;
	position: absolute; top: 100%; left: 0;
	z-index: 1;
	margin-left: 0;
}
.buttons ul li {
	width: 100%;
	border-left: none;
	white-space: nowrap;
}
.buttons ul a {
	margin: 0;
	padding: 0.5rem 1rem 0.5rem 4rem;
	font-weight: 400;
	background: #cccccc url('images/arrow165.png') no-repeat 1rem center;
	background-size: 1.5rem;
}
