<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Josh Bloom</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
	<section>
		
		<h2>heading</h2>
		
		<article id="sam">
			<blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non tellus non metus aliquet bibendum. Maecenas rhoncus, lorem at rutrum fringilla, elit leo lobortis sem, at vestibulum turpis turpis in massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</blockquote>
			<h3>Orlando, FL</h3>
			<p>Sam</p>
		</article>

		<article id="anna">
			<blockquote>Maecenas rhoncus, lorem at rutrum fringilla, elit leo lobortis sem, at vestibulum turpis turpis in massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non tellus non metus aliquet bibendum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</blockquote>
			<h3>Miami, FL</h3>
			<p>Anna</p>
		</article>
		
		<article id="alex">
			<blockquote>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non tellus non metus aliquet bibendum. Maecenas rhoncus, lorem at rutrum fringilla, elit leo lobortis sem, at vestibulum turpis turpis in massa.</blockquote>
			<h3>Tampa, FL</h3>
			<p>Alex</p>
		</article>

		<ul>
			<li><a href="#sam"><img src="images/brown-sam.jpg" alt="Sam Brown"></a></li>
			<li><a href="#anna"><img src="images/smith-anna.jpg" alt="Anna Smith"></a></li>
			<li><a href="#alex"><img src="images/green-alex.jpg" alt="Alex Green"></a></li>
		</ul>

		
	</section>
	<!-- End Component -->
	
</body>
</html>