<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Josh Bloom</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->	
	<header>
		<h1>Company Name</h1>

		<nav>
		<ul>
			<li><a href="">Women</a>
				<ul>
					<li><a href="">Dresses</a></li>
					<li><a href="">Tees</a></li>
					<li><a href="">Shirts &amp; Blouses</a></li>
					<li><a href="">Skirts</a></li>
					<li><a href="">Denim</a></li>
					<li><a href="">Swimwear</a></li>
					<li><a href="">Accessories</a></li>
				</ul>
			</li>
			<li class="current">
				<a href="">Men</a>
				<ul>
					<li><a href="">Graphic Tees</a></li>
					<li><a href="">Shirts</a></li>
					<li><a href="">Denim</a></li>
					<li><a href="">Swimwear</a></li>
					<li><a href="">Accessories</a></li>
				</ul>				
			</li>
			<li>
				<a href="">Kids</a>
				<ul>
					<li><a href="">Graphic Tees</a></li>
					<li><a href="">Denim</a></li>
					<li><a href="">Swimwear</a></li>
				</ul>	
			</li>
			<li>
				<a href="">Bed &amp; Bath</a>
				<ul>
					<li><a href="">Bedding</a></li>
					<li><a href="">Bath</a></li>
					<li><a href="">Kitchen</a></li>
					<li><a href="">Dining</a></li>
					<li><a href="">Home Decor</a></li>
					<li><a href="">Furniture</a></li>
				</ul>	
			</li>			
			<li>
				<a href="/account">My Cart</a>

				<!-- Shopping Cart Preview -->
				<table>
					<tr>
						<td><img src="" alt="" /></td>
						<td>Logo T-Shirt</td>
						<td>$9.99</td>
					</tr>
					<tr>
						<td><img src="" alt="" /></td>
						<td>Vintage Destressed Jeans</td>
						<td>$22.99</td>
					</tr>
					<tr>
						<td><img src="" alt="" /></td>
						<td>Varsity Hoodie</td>
						<td>$19.99</td>
					</tr>
					<tr>
						<td colspan="3">Total: $40.00 <a href="">Checkout</a></td>
					</tr>
				</table>

			</li>
		</ul>
		</nav>

	</header>
	<!-- End Component -->
	
</body>
</html>