/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */
body {
	background: #f5f5f5;
	font: 14px sans-serif;
}
header {
	max-width: 1000px;
	margin: 0 auto;
}
header::after {
	content: "";
	display: table;
	clear: both;
}



/* NAV ======================================== */
nav {
	float: right;
}
nav li {
	list-style-type: none;
	float: left;
}
nav li a{
	display: block;
	padding: 20px;
	color: #999999;
}
.current a {
	background: #fe8f01;
	color: #ffffff;
}


/* HEADER ======================================== */
body > header { padding: 10px; }
body > header img {
	width: 150px;
	height: 40px;
	background: url('images/ramirez.jpg') no-repeat left center;
	text-indent: -9999px;
	float: left;
}

body > header dl { float: right; }
body > header dt { display: none; }
body > header dd { 
	display: inline-block;
	padding: 10px 10px 10px 20px;
	font-size: 80%;
}
body > header dd:first-of-type { border-right: solid 1px #dedede; }

#phone { 
	padding-top: 20px;
	background: url('images/phone.jpg') no-repeat left center; 
}
#phone::before { 
	content: "Phone:";
	display: block;
}
#location { background: url('images/location.jpg') no-repeat left center; }
#location::before { 
	content: "Location:";
	display: block;
}