<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Josh Bloom</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
	<section>
		
		<h2>What You'll never want to live without again</h2>
		
		<ul>
		<li id="stats">
			<h3>Real Time Stats</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non tellus non metus aliquet bibendum.</p>
		</li>
		<li id="progress">
			<h3>Track Progress</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non tellus non metus aliquet bibendum.</p>
		</li>
		<li id="goals">
			<h3>Rewards for Goals</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non tellus non metus aliquet bibendum.</p>
		</li>
		<li id="users">
			<h3>Manage Users</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non tellus non metus aliquet bibendum.</p>
		</li>
		<li id="timeline">
			<h3>Flexible Timeline</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non tellus non metus aliquet bibendum.</p>
		</li>
		<li id="updates">
			<h3>Automatic Updates</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non tellus non metus aliquet bibendum.</p>
		</li>
		</ul>
		
	</section>
	<!-- End Component -->
	
</body>
</html>