<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Josh Bloom</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
	<section>
		
		<h2>How it works</h2>
		
		<article>
			<img src="" alt="" />
			<h3>Realtime Stats</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non tellus non metus aliquet bibendum.</p>
		</article>

		<article>
			<img src="" alt="" />
			<h3>Set Goals</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non tellus non metus aliquet bibendum.</p>
		</article>
					
		<article>
			<img src="" alt="" />
			<h3>Track Progress</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non tellus non metus aliquet bibendum.</p>
		</article>
			
	</section>
	<!-- End Component -->
	
</body>
</html>