/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */
html { font-size: 62.5% }
body {
	background: #f5f5f5;
	font: 1.4em sans-serif;
	color: #b0b0b0;
}

section {
	max-width: 1000px;
	margin: 0 auto;
	padding: 5rem;
	text-align: center;
}
section::after {
	content: "";
	display: table;
	clear: both;
}

h2 {
	font-size: 2rem;
	color: #dfdfdf;
	text-transform: uppercase;
	font-weight: 900;
	margin-bottom: 4rem;
}

h3 {
	margin: 2rem 0 1rem 0;
	font-size: 1.6rem;
	color: #999999;
	text-transform: uppercase;
	font-weight: 900;
}

/* ARTICLE ======================================== */
article {
	padding: 1rem;
}
@media (min-width: 650px) {
	article {
		width: calc(100% / 3);
		float: left;
	}
}


/* IMAGE ======================================== */
img {
	width: 15rem;
	height: 15rem;
	border-radius: 50%;
	background-color: #b0b0b0;
}



