<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
	<nav>
		<ul>
			<li class="current"><a href="">Home</a></li>
			<li><a href="">About us</a></li>
			<li><a href="">Projets</a></li>
			<li><a href="">Blog</a></li>
			<li><a href="">Contacts</a></li>
			<li>
				
				<form action="" method="post">
					<p><label>Search:<input name="search" type="text" /></label></p>
					<p><button type="submit">Search</button></p>
				</form>
				
			</li>
		</ul>
	</nav>
	
	<header>
		<img src="images/ramirez.jpg" alt="Ramirez Cosntruction Company" />
		<dl>
			<dt>Phone:</dt>
			<dd id="phone">+1 950 243 (555-Support)</dd>
			<dt>Location:</dt>
			<dd id="location"><address>8391 Marsosa Road<br/> Clasgow, DD4 84OR</address></dd>
		</dl>
	</header>
	<!-- End Component -->
	
</body>
</html>