<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Josh Bloom</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
	<section>

		<h2>Search hundreds of sites and save.</h2>
		<p>You've worked hard all year, time to relax.</p>

		<form action="">
			<p>
				<label for=""></label>
				<input type="text" placeholder="What can we help you with?" />
				<button type="submit">Search</button>
			</p>
		</form>

	</section>
	<!-- End Component -->
	
</body>
</html>