<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Josh Bloom</title>

	<link rel="stylesheet" type="text/css" href="css/reset.css" />
	<link rel="stylesheet" type="text/css" href="css/component.css" />
	
</head>
<body>

	<!-- Example (divs only) -->	
	<div id="header"> Header Content </div>
	<div id="content"> Content </div>
	<div id="footer"> Footer Content </div>

	<!-- Example (header) -->	
	<header> Header Content </header>
	<div id="content"> Content </div>
	<div id="footer"> Footer Content </div>

	<!-- Example (footer) -->	
	<header> Header Content </header>
	<div id="content"> Content </div>
	<footer> Footer Content </footer>
		
	<!-- Example ( content? ) -->	
	<header> Header Content </header>
	<div id="cta"> CTA Content </div>
	<div id="services"> Services Content </div>
	<div id="about"> About Content </div>
	<footer> Footer Content </footer>
	
	<!-- Example -->	
	<header> Header Content </header>
	<section id="cta"> CTA Content </section>
	<section id="services"> Services Content </section>
	<section id="about"> About Content </section>
	<footer> Footer Content </footer>
		
</body>
</html>