<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Josh Bloom</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
	<div class="wrapper">
		<section> content  </section>	
	</div>
	
	<footer>
		
		<p><a href="#top">Back to Top</a></p>
		
		<dl>
			<dt id="email">Email</dt>
			<dd><a href="mailto:name@domain.com">name@domain.com</a></dd>
		
			<dt id="address">Address</dt>
			<dd><address>1234 Main St. Orlando, FL 12345</address></dd>
		
			<dt id="phone">Phone</dt>
			<dd>123.123.1234</dd>
		</dl>
		
		<p id="copyright">Copyright &copy; 2015 <a href="">privacy policy</a></p>
		
	</footer>
	<!-- End Component -->
	
</body>
</html>