<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
	<section>
		
		<h2>heading</h2>
		
		<article>
			<h3>title</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</article>
		<article>
			<h3>title</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</article>
		<article>
			<h3>title</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</article>
		<article>
			<h3>title</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</article>
		<article>
			<h3>title</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</article>
		<article>
			<h3>title</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</article>
		
	</section>
	<!-- End Component -->
	
</body>
</html>